.card {
  background-color: rgb(252, 252, 252);
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  /* position: absolute; */
  transition: transform 0.3s;
  box-sizing: border-box;
  border: 2px solid #ffffff00;
}
.card:hover {
  border: 2px #d1df31 solid;
}

.number {
  padding: 0 5px;
}
.bottomCard {
  transform: rotate(180deg);
}

.numberSuit {
  display: flex;
  flex-direction: row;
  font-size: x-large;
}

.middleSuit {
  font-size: 110px;
  text-align: center;
  /* max-height: 100px; */
  text-align: center;
  height: 130px;
  position: relative;
  bottom: 20px;
}

.numberSuitHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
}
