:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: #213547; */
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* justify-content: center; */
  /* padding: 2rem 6rem; */
  height: 100vh;
  width: 100vw;
  justify-content: center;
  /* align-items: center; */
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #213547;

  cursor: pointer;
  transition: border-color 0.25s;
  font-style: normal;

  font-style: normal;
}
a:hover {
  color: #747bff;
}
a {
  font-style: normal;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.red {
  color: #dd0000;
}
.black {
  color: black;
}

.background {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  position: absolute;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
  /* display: flex; */
  /* align-items: center; */
}

.background-img {
  height: 100vh;
  min-width: 1900px;
  /* width: 100vw; */
  /* width: 5521px; */
  transform-origin: center center;
  transition: transform 0.5s ease;
}

.above-board {
  height: 398px;
  /* background-color: red; */
  /* opacity: 0.5; */
}
.board {
  height: 195px;
  /* background-color: blue; */
  /* opacity: 0.5; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.below-board {
  height: 315px;
  /* background-color: pink; */
  /* opacity: 0.5; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.table {
  /* background-color: white; */
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.face-down-cards * {
  margin: 0 0.5rem;
}

.game-cards {
  display: flex;
  flex-direction: row;
  /* background-color: white; */
}
.pickup-cards-holder {
  min-height: 60px;
}
.pickup-cards {
  position: relative;
}

/* .game-cards * {
  margin: 0 3rem;
} */

.game-card-back {
  position: absolute;
  left: -150px;
  bottom: -57px;
}

.card {
  cursor: pointer;
}

.play-cards {
  position: absolute;
}

.player-hand {
  /* position: relative; */
  display: inline-block;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  margin-bottom: 0.5rem;
}

.hand-cards {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.hand {
  width: 160px;
  height: 230px;
  font-weight: 700;
  margin: 2px;
  /* box-sizing: border-box; */
}

.hand:hover {
  transform: translate(0, -15px);
}

.hand.active {
  transform: translate(0, -25px);
  border: 2px #d1df31 solid;
}

.player-table-card {
  height: 58px;
  width: 50px;
  z-index: 10;
  /* opacity: 0.5; */
  padding-bottom: 8px;

  transform: perspective(100px) rotateX(15deg);
}

.opponent-table-card {
  height: 45px;
  width: 40px;
  z-index: 10;
  /* opacity: 0.5; */
  /* margin-bottom: 15px; */

  transform-origin: center center;

  transform: perspective(90px) rotateX(15deg) rotate(180deg);

  font-size: smaller;
}

.face-down-cards {
  position: relative;
}

.face-up-cards {
  display: flex;
  flex-direction: row;
  position: absolute;
  /* position: absolute; */
}
.face-up-cards > * {
  margin: 0.7rem;
  margin-bottom: 22px;
}

.small-number {
  font-weight: bold;
  font-size: 22px;
  position: relative;
  top: 3px;
  text-align: center;
}
.small-suit {
  max-height: 30px;
  font-size: 30px;
  position: relative;
  bottom: 14px;
  text-align: center;
}

.opponent-table-card-number {
  font-size: 15px;
  top: 6px;
}
.opponent-table-card-suit {
  font-size: 21px;
  bottom: 5px;
}

.game-card-number {
  font-size: 18px;
  top: 5px;
}
.game-card-suit {
  font-size: 26px;
  bottom: 10px;
}
/* .player-card:hover {
  border: 2px #d1df31 solid;
} */

.opponent-card {
  transform: rotate(180);
}

.opponent-hand {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: auto;
  position: relative;
}
.opponent-card-hand {
  height: auto;
  margin: 2rem 2px;
  /* margin-bottom: 2rem; */
}

.game-card {
  height: 50px;
  width: 45px;
  z-index: 10;
  /* opacity: 0.5; */
  padding-bottom: 8px;

  transform: perspective(110px) rotateX(15deg);
  position: absolute;
  bottom: -19px;
  left: -20px;
}
