.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
}

.gameSelections {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 700px;
}

.pb {
  padding-bottom: 5rem;
}
